# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# PDFs
*.pdf


.vercel
.env*

# Temporary & Heavy Zip Files
*.zip
lh_run.txt
pinggy_out.txt
public/images/maia.zip
public/images/maia/
